<%- include("../layout/header") %>
    <div class="text-center">
        <h5>500! Internal Server Error!</h5>
        <p>Something went wrong with the website.</p>
    </div>
<%- include("../layout/footer") %> 